select {
    margin-right: 2em !important;
    height: auto !important;
}
div.booking_list>div {
    font-size : 12px !important;
    max-height : 36px !important;
}
.month_allRooms a.new_booking {position: absolute; top: 0; left: 0; z-index: 10}  /* needs to be above the base, but below the date (monthday) */ 

.booking_list a {
    font-size : 12px !important;
}
#colour_key td {
    width : 10em !important;
}
a:link {
    font-weight: normal !important;
}
table#colour_key {
    width: 100% !important;
}
/*
Mise en forme des champs textarea
*/
.form_general input {
  width: 40em;
}
.form_general textarea {
    width: 40em;
    height: 4em; 
    margin-bottom: 0.5em;
}
.form_general select {
  margin-right: -0.5em;
  margin-bottom: 1em;
}
#f_action_facturee {
    width:10em;
}
#f_num_fiche {
    width:10em;
}
#f_nb_inscrits {
    width:10em;
}